In [1]:
import pandas as pd
from datetime import datetime

In [4]:
df = pd.read_csv("../Data/raw/weather_init.csv")

In [5]:
df

,timestamp,city,state,country,latitude,longitude,aqius,mainus,aqicn,maincn,temperature,humidity,pressure,wind_direction,wind_speed
0,2025-06-25T20:00:00.000Z,Islamabad,Islamabad,Pakistan,33.697612,72.971079,105,p2,53,p2,30,63,999,126,3.29

In [6]:
# Step 2: Add proper column names
df.columns = [
    "timestamp", "city", "state", "country", "lat", "lon",
    "aqius", "mainus", "aqicn", "maincn", "temperature", "humidity",
    "pressure", "wind_direction", "wind_speed"
]

In [7]:
df

,timestamp,city,state,country,lat,lon,aqius,mainus,aqicn,maincn,temperature,humidity,pressure,wind_direction,wind_speed
0,2025-06-25T20:00:00.000Z,Islamabad,Islamabad,Pakistan,33.697612,72.971079,105,p2,53,p2,30,63,999,126,3.29

In [8]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [9]:
df

,timestamp,city,state,country,lat,lon,aqius,mainus,aqicn,maincn,temperature,humidity,pressure,wind_direction,wind_speed
0,2025-06-25 20:00:00+00:00,Islamabad,Islamabad,Pakistan,33.697612,72.971079,105,p2,53,p2,30,63,999,126,3.29

In [10]:
df['hour'] = df['timestamp'].dt.hour
df['day'] = df['timestamp'].dt.day
df['month'] = df['timestamp'].dt.month
df['weekday'] = df['timestamp'].dt.weekday

In [11]:
df

,timestamp,city,state,country,lat,lon,aqius,mainus,aqicn,maincn,temperature,humidity,pressure,wind_direction,wind_speed,hour,day,month,weekday
0,2025-06-25 20:00:00+00:00,Islamabad,Islamabad,Pakistan,33.697612,72.971079,105,p2,53,p2,30,63,999,126,3.29,20,25,6,2

In [12]:
df['aqius_change'] = df['aqius'].diff().fillna(0)

In [13]:
df['aqius_future'] = df['aqius'].shift(-3)

In [15]:
df.to_csv("../Data/features.csv", index=False)

In [16]:
df

,timestamp,city,state,country,lat,lon,aqius,mainus,aqicn,maincn,...,humidity,pressure,wind_direction,wind_speed,hour,day,month,weekday,aqius_change,aqius_future
0,2025-06-25 20:00:00+00:00,Islamabad,Islamabad,Pakistan,33.697612,72.971079,105,p2,53,p2,...,63,999,126,3.29,20,25,6,2,0.0,NaN